body {
    font-family:Roboto;
    background-color: #FFDF0F;
    color: #5036FE;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Coda";
    text-align:center;
}

h1 {
    font: size 50pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#2914B3;
    border: 2px solid #5036FE;
    background-color:#B39B02;
    text-align:center;
    padding:10px;
}

/*Hero Section*/



#hero img {
    width:300px;
}

/*Bio Section*/

#bio {
    text-align:center;
}

/*Hobbies*/

#hobbies ul li:nth-child(even) {
    color:#2914B3;
}

/*Gallery*/

#gallery {
    border: 2px solid #5036FE;
}

#gallery img {
    max-width:100%;
}

#gallery figure {
    text-align:center;
}